html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    background-color: #101519;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 5;
}

.logo{
    display: none;
}

header ul{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

header ul li{
    margin: 0.5rem;
    padding: 0 0.5rem;
}

header ul li a{
    text-decoration: none;
    color: #F4A701;
    font-weight: 700;
    
}

header ul li a:hover{
    color: #F4A70180;

}

header ul li a.current_link{
    text-decoration: underline;
    font-weight: 900;
}

@media (min-width: 600px) and (max-width: 1024px){

    .logo{
        display: block;
        margin: 2rem;
        height: 8rem;
    }

}

@media (min-width: 1024px){

    .logo{
        display: block;
        margin: 2rem;
        height: 8rem;
    }

}